@model IEnumerable<EvaCity.Models.ViewModels.ProyectoViewModel>
@{
    ViewBag.Title = "Inicio";
}
<div>
    <h2>Ultimos proyectos</h2>
</div>
<br />
<div id="proyectosCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#proyectosCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#proyectosCarousel" data-slide-to="1"></li>
        <li data-target="#proyectosCarousel" data-slide-to="2"></li>
        <li data-target="#proyectosCarousel" data-slide-to="3"></li>
        <li data-target="#proyectosCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{
            int contador = 1;
        }
        @foreach (var item in Model)
        {
            if (contador == 1) {
                <div class="item active">
                    <div class="panel-group panel-margin-bottom">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6 pull-left col-md-offset-1">
                                            <label>@Html.DisplayFor(modelItem => item.Nombre)</label>
                                        </div>
                                        <div class="col-md-5">
                                            <label>@Html.DisplayFor(modelItem => item.FechaCreacion)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3 col-md-offset-1">
                                            <label>Sección:</label><span>@Html.DisplayFor(modelItem => item.NombreSeccion)</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Usuario:</label><span>@Html.DisplayFor(modelItem => item.NombreUsuario)</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Ciudad:</label><span>@Html.DisplayFor(modelItem => item.NombreCiudad)</span>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-11 col-md-offset-1">
                                            <label>Descripción:</label>
                                        </div>
                                        <div class="col-md-12 col-md-offset-1">
                                            <span>@Html.DisplayFor(modelItem => item.Descripcion)</span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="item">
                    <div class="panel-group panel-margin-bottom">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-1">
                                        <div class="col-md-7 pull-left">
                                            <label>@Html.DisplayFor(modelItem => item.Nombre)</label>
                                        </div>
                                        <div class="col-md-5">
                                            <label>@Html.DisplayFor(modelItem => item.FechaCreacion)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <label>Sección:</label><span>@Html.DisplayFor(modelItem => item.NombreSeccion)</span>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Usuario:</label><span>@Html.DisplayFor(modelItem => item.NombreUsuario)</span>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Ciudad:</label><span>@Html.DisplayFor(modelItem => item.NombreCiudad)</span>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Descripción:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span>@Html.DisplayFor(modelItem => item.Descripcion)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            }
            contador = contador + 1;
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#proyectosCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#proyectosCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

